
/* BackGround com a imagem na tela toda com padding na esqueda e direita */
.fundo{
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('../assets/img/nebulosa2.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Formatação do quadrado com o bemvindo, formatação do text e espaçamento */
.fundo .tagline{
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(0, 6, 85, 0.5) -5.91%, rgba(1, 105, 241, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
/* Formatação da apresentação, tamanho da letra e espaçamento */
.fundo h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
/* Formatação do paragrafo com texto */
.fundo p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

/* Formatação do botão de contato */
.fundo button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
/* Formatação do componente importado pelo bootstrap icon */
.fundo button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }

/* Animação do botão de dowload CV aumenta o tamanho */
.fundo button:hover svg {
    font-size: 35px;
}

/* Formatação da imagem*/
.fundo img {
    animation: updown 3s linear infinite;
    border-radius: 50%;
}

/* Animação do texto */
.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}